#trick {
    clear: left;
    float: left;
}

#hand {
    clear: left;
    float: left;
}

#ruler {
    background: white;
    display: block;
    position: relative;
}

#table {
    background-image: radial-gradient(ellipse, #00a651, darkgreen);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
    position: relative;
    margin-right: 2em;
    height: 480px;
    width: 640px;
    float: left;
}

#side {
    background: magenta;
    margin-right: auto;
    width: 240px;
    float: left;
}

#trump-suit-chosen,
#trump-suit-1,
#trump-suit-2,
#trump-suit-3,
#trump-suit-4 {
    width: 1.4em;
}

.trump-suit {
    font-size: 2em;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font: 1.4em serif;
    width: 75px;
    height: 112px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 0.2s;
}

.card.movable {
    box-shadow: 0 0 20px 5px lightblue;
}

.card.movable:hover {
    box-shadow: 0 0 20px 5px magenta;
}

.card.selected {
    transform: translateY(-20px);
}

.suit-clubs, .suit-spades {
    color: black;
}

.suit-diamonds, .suit-hearts {
    color: red;
}

.suit-clubs:after {
    content: "♣";
}

.suit-diamonds:after {
    content: "♦";
}

.suit-hearts:after {
    content: "♥";
}

.suit-spades:after {
    content: "♠";
}

div[class*='suit']:after {
    position: absolute;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    left: 20px;
    top: 50px;
}

.card .rank,
.card .suit {
    display: block;
    text-align: center;
    width: 1.4em;
}

.card .rank {
    margin-top: 5px;
}

.card .suit {
    line-height: 0.8em;
}
