{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}" type="module"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet" />
{% endblock %}

{% block app_content %}
    <div id="ask_bid">
        <div>
            <p>Play with <span id="trump" class="trump_suit"></span>?</p>
        </div>
        <button id="play">play</button>
        <button id="pass">pass</button>
    </div>
    <div id="force_bid">
        <span>Choose trump: </span>
    </div>
    <div id="trick">
    </div>
    <div id="hand">
    </div>
    <script type="text/javascript">
        var game = "{{ game }}";
    </script>
{% endblock %}
